:root {
    --black: #000000;
    --light-black: #2F303A;
    --blue: #2196F3;
    --white: #FFFFFF;
    --light-grey: #f5f4fa;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
* {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }

  html {
    box-sizing: border-box;
  }
body {
    font-family: var(--primary-font);
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
/* Header section style*/

.item0 {
    width: 20px;
    height: 15px;
}

.header {
    background-color: #FFFFFF;
    height: 80px;
    border-style:solid;
    border-width: 1px;
    border-color: #ececec;
    border-right: #FFFFFF;
    
}

.header .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

.header__logo {
    text-decoration: none;
}
.p__logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 16px;
    color: var(--black);
}

.span__logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 16px;
    color: var(--blue);
 }


.header__navigation ul {
    display: flex;
    gap: 50px;
}

.header__navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
}
.header__navigation a:hover {
    color: var(--blue);
}
.header__info {
    display: flex;
    gap: 15px;
   
}
.header__info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black); 
}
.header__info a:hover {
    color: var(--blue);
}

/* Hero section style*/

.hero-section {
background-color: var(--light-black);
height: 600px;
background-image: linear-gradient(0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/back.jpg);
}

.hero-section__h1 {
    text-decoration: none;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    padding-top: 180px;
}   
.hero-section__service {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}
.div-button {
text-align: center;
margin-top: 30px;
}
.about {
    background-color: #FFFFFF;
    height: 101px;
}
.about .container {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 30px;
}
.about__h5 {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
}
.about__text {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
}
/* What we do style*/ /* Our team style*/

.what-section {
    height: 386px;
}

.what-section .container {
    display: flex;
    gap: 30px;
    padding-top: 94px;

   
}
.team-section {
    background-color: var(--light-grey); 
    height: 648px;
    
}
.team-section .container {
    display: flex;
    gap: 30px;
    padding-top: 94px;
       
}
.h2 {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    color: var(--black);
    
}

.h6 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.team {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-black);
    display: flex; 
    justify-content: center;
    padding-top: 10px;
}
.titlu1 {
    text-align: center; 
    margin-top: 170px;
}
.titlu2 {
    text-align: center;
    margin-top: 100px;
}
.team-section__cards {
    background-color: var(--white);
    border-style:solid;
    border-width: 1px;
    border-color: #ececec;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
/* Primele carduri*/
.about-cards {
display: flex;
justify-content: center;
gap: 40px;
margin-top: 94px;
}
.about-cards li {
    background-color: var(--light-grey);
    padding-inline: 90px;
    padding-block: 20px;
    border-radius: 4px;
}
.item1 {
    width: 70px;
    height: 70px;
}
 /*our team social-cards*/
.team-section__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-section__social li {
    padding: 12px;
    border-radius: 100px;
    background-color:var(--white);
    
}
.team-section__social li:hover {
   background-color: var(--blue);
   fill: var(--white);
}
.item2 {
    width: 20px;
    height: 20px;
 }

/*Regular Customers*/
.titlu3 {
    text-align: center;
}
.Customers-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 180px;
    margin-bottom: 94px;
}
.item3 {
    width: 106px;
    height: 60px;
}
.Customers-section li {
    padding-inline: 35px;
    padding-block: 20px;
    border-style:solid;
    border-width: 2px;
    border-color: #AFB1B8;
    border-radius: 4px;
}
.Customers-section li:hover {
    border-color:var(--blue)
}
/* Footer section style*/
.footer {
    height: 251px;
    background-color: var(--light-black);
}
.footer-addres {
text-align: center;
padding-top: 60px;
margin-right: 1100px;
}
.footer__addres a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    color: var(--light-grey)
}
.footer__addres a:hover {
    color: var(--blue);
}
.footer-addres__addres {
    color: var(--white);
    padding-top: 15px;
}


.item4 {
    width: 20px;
    height: 20px;
}
.footer-social ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.footer-social li {
    padding: 12px;
    border-radius: 100px;
    background-color: var(--black)
}
.footer-social li:hover {
    background-color: var(--blue)
}
.footer-social__h4 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}

/* Portfolio style*/

.portfolio__nav {
    font-weight: 500;
    font-size: 16px;
    border: var(--white);
    border-radius: 4px;
    width: 100px;
    height: 38px;
}
.portfolio__nav:hover {
color: var(--white);
background-color: var(--blue);
}
.portfolio-img .container {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   padding-bottom: 94px;
   
}
.container__portfolio {
    border-style:solid;
    border-width: 1px;
    border-color: #ececec;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    
}
.portfolio-button .container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
